$lightGreen : #b9e7e7;
$black: #000000;
$red: #bf0000;
$light-red: #940000;
$snow: #f5fefd;
$white: #ffffff;

* {
    margin: 0px;
}

.app {
    display: flex;
    justify-content: center;
    background-color: $black;
    color: rgb(255, 255, 255);

    // height: 100vh;
    .container {
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        //Login & Register
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // background-color: rebeccapurple;
            background-color: $black;
            height: 100vh;


            h1 {
                font-size: 20px;
                color: $red;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: white;
                width: 200px;
                gap: 20px;
            }

            input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid $red;
            }

            button {
                padding: 10px;
                border: none;
                background-color: $red;
                cursor: pointer;
                color: white;

            }

            span {
                font-size: 12px;
                text-align: center;
            }

            p {
                font-size: 12px;
                text-align: center;
                color: $red;
            }
        }
    }


    //Navbar

    .navbar {
        .container {
            padding: 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // position: fixed;
            // background-color: rgb(119, 119, 118);
            // .logo {

            // }
            .link {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $white;

                h6 {
                    font-size: 16px;
                    font-weight: 300;
                }

                span {
                    cursor: pointer;
                    // border: 1px solid red;
                }

                .write {
                    // background-color: $black;
                    // color: $red;
                    padding: 5px;
                    border: 2px solid $red;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    // &:hover {
                    //     background-color: $red;
                    //     color: $black;
                    // }
                }

                &:hover {
                    color: $red;
                }
            }
        }
    }

    //Footer 
    footer {
        margin-top: 100px;
        padding: 20px;
        background-color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        justify-content: space-between;
    }


    //Home
    .home {
        .posts {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 150px;

            .post {
                display: flex;
                gap: 100px;

                &:nth-child(2n+1) {
                    flex-direction: row-reverse;
                }

                .img {
                    flex: 2;
                    position: relative;
                    overflow: hidden;

                    &::after {
                        content: "d";
                        width: 100%;
                        height: 100%;
                        background-color: $white;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        z-index: -2;
                    }

                    img {
                        width: 100%;
                        max-height: 400px;
                        // object-fit: cover;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        // transition: all .3s ease;
                        // -webkit-transition: all .3s ease;
                        // -moz-transition: all .3s ease;
                        // -ms-transition: all .3s ease;
                        // -o-transition: all .3s ease;
                    }

                    // &:hover {
                    //     filter: grayscale(0%);
                    //     -webkit-filter: grayscale(0%);
                    //     transform: scale(1.3) ;
                    //     -webkit-transform: scale(1.3) ;
                    //     -moz-transform: scale(1.3) ;
                    //     -ms-transform: scale(1.3) ;
                    //     -o-transform: scale(1.3) ;
                    // }
                }

                .content {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h1 {
                        font-size: 48px;
                    }

                    p {
                        font-size: 18px;
                    }

                    button {
                        width: max-content;
                        margin-top: 10px;
                        padding: 10px;
                        border: 2px solid $red;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        background-color: $black;
                        color: $white;
                        cursor: pointer;

                        &:hover {
                            color: $red;
                        }
                    }

                }
            }
        }
    }



    //Single-page
    .single {
        display: flex;
        gap: 50px;

        .content {
            flex: 5;
            display: flex;
            flex-direction: column;
            gap: 30px;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-weight: bold;
                }
            }

            .edit {
                display: flex;
                gap: 10px;

                .edit-delete {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    color: $red;
                }
            }

            h1 {
                font-size: 42px;
                color: $red;
            }

            p {
                text-align: justify;
                line-height: 30px;
            }
        }

        .menu {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 25px;

            h1 {
                font-size: 20px;
                color: $red;
            }

            .post {
                display: flex;
                flex-direction: column;
                gap: 10px;

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                h2 {
                    color: $light-red;
                }

                button {
                    width: max-content;
                    margin-top: 10px;
                    padding: 10px;
                    border: 2px solid $red;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    background-color: $black;
                    color: $white;
                    cursor: pointer;

                    &:hover {
                        color: $red;
                    }
                }
            }
        }

    }


    //Write

    .add {
        margin-top: 20px;
        display: flex;
        gap: 20px;

        .content {
            flex: 5;
            display: flex;
            flex-direction: column;
            gap: 20px;

            input {
                padding: 10px;

                // border: 2px solid $red;
                &[type="text"]:focus {
                    border: 2px solid $red;
                }
            }

            .editorContainer {
                height: 300px;
                overflow: scroll;

                // border: 2px solid $red;
                .editor {
                    height: 100%;
                    border: none;
                }
            }
        }

        .menu {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .item {
                border: 1px solid $red;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                padding: 10px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;

                h1 {
                    font-size: 20px;
                }

                .file {
                    text-decoration: underline;
                    cursor: pointer;
                }

                .buttons {
                    display: flex;
                    justify-content: space-between;

                    :first-child {
                        width: max-content;
                        margin-top: 10px;
                        padding: 10px;
                        border: 2px solid $red;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        background-color: $black;
                        color: $white;
                        cursor: pointer;

                        &:hover {
                            color: red;
                        }
                    }

                    :last-child {
                        width: max-content;
                        margin-top: 10px;
                        padding: 10px;
                        border: 2px solid $red;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        background-color: $red;
                        color: $black;
                        cursor: pointer;

                        &:hover {
                            color: white;
                        }
                    }
                }
                .cat {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: $light-red;
                }
            }
        }
    }
}